.byte-tabs {
    position: relative;
    overflow: hidden;
}

.byte-tabs-header-nav {
    position: relative;
    background: #fff;
}

.byte-tabs-header-nav:before {
    content: "";
    clear: both;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #e8e8e8;
    display: block;
}

.byte-tabs-header-nav-horizontal .byte-tabs-header-scroll.is-dropdown {
    padding-right: 20px;
}

.byte-tabs-header-nav-horizontal .byte-tabs-header-scroll {
    overflow: hidden;
    position: relative;
}

.byte-tabs-header-nav .byte-tabs-header-wrapper {
    overflow: hidden;
}
.byte-tabs-header-nav .byte-tabs-header {
    position: relative;
    display: inline-block;
    transition: transform .3s ease;
    white-space: nowrap;
}

.byte-tabs-header-nav.byte-tabs-header-nav-horizontal .byte-tabs-header-title:first-child {
    margin-left: 32px;
}

.byte-tabs-header-nav.byte-tabs-header-nav-horizontal .byte-tabs-header-title {
    font-size: 16px;
    margin: 18px 0 0 32px;
}

.byte-tabs-header-nav .byte-tabs-header-title.active {
    color: red;
    font-weight: 500;
}

.byte-tabs-header-nav .byte-tabs-header-title {
    box-sizing: border-box;
    height: 42px;
    line-height: 42px;
    margin: 0 20px;
    cursor: pointer;
    font-size: 14px;
    color: #222222;
    display: inline-block;
    transition: color .3s;
}

.byte-tabs-header-nav.byte-tabs-header-nav-horizontal .byte-tabs-header-ink {
    left: 32px;
}



.byte-tabs-header-nav .byte-tabs-header-ink {
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    width: 0;
    height: 2px;
    background-color: #222222;
    transition: left .3s ease;
}

.byte-tabs-header-nav .byte-tabs-header-ink {
    background-color: #f04142;
}


.m-accountinfo {
    line-height: 1;
    color: #222;
    box-shadow: 0 1px 12px 0 rgba(0,0,0,.05);
    position: relative;
}

.garr-container-white {
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.05);
    min-height: inherit;
    border-radius: 2px;
    background-color: #ffffff;
    min-height: 400px;
    padding-bottom: 60px;
}

.m-accountinfo-body {
    position: relative;
    padding: 0 40px;
    overflow: hidden;
}

.m-accountinfo-tip {
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 10px;
    padding-right: 40px;
    text-align: right;
    font-size: 14px;
    color: #999;
}

.m-accountinfo .module.module-name {
    padding: 40px 0;
}

.m-accountinfo .module {
    border-bottom: 1px solid #e8e8e8;
}

.g-grid-row {
    box-sizing: border-box;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}


.byte-btn-default:not(.byte-btn-disabled) {
    background-color: #fff;
    border: 1px solid #d8d8d8;
    color: #222222;
}

.byte-btn-size-default {
    padding: 0 16px;
    font-size: 14px;
    height: 32px;
    line-height: 1.499;
}

.byte-btn {
    display: inline-block;
    position: relative;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
    transition: all .3s;
    box-sizing: border-box;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}

button {
    outline: none;
}

button, input, select, textarea {
    font-size: 100%;
}

.m-nameandbriefedititem-avatar, .m-nameandbriefedititem-info {
    display: inline-block;
    vertical-align: top;
}

.m-nameandbriefedititem-avatar {
    margin-right: 40px;
}

.m-nameandbriefedititem-avatar, .m-nameandbriefedititem-info {
    display: inline-block;
    vertical-align: top;
}

.m-nameandbriefedititem .item-label.item-label-name {
    margin-bottom: 12px;
    font-family: PingFangSC-Medium;
    font-size: 20px;
    color: #222;
    line-height: 1;
}

.m-nameandbriefedititem .item-label {
    display: block;
}

.m-nameandbriefedititem .item-label-brief {
    display: inline-block;
    line-height: 1;
    font-size: 14px;
    color: #666;
}

.m-avataruploader-imagewrapper {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.m-avataruploader-imagewrapper .imagewrapper-image-url {
    display: inline-block;
    width: 100%;
    height: 100%;
}



.m-accountinfo .module .module-left {
    display: inline-block;
    width: 120px;
    vertical-align: top;
    line-height: 60px;
}

.m-accountinfo .module .module-right {
    display: inline-block;
    width: 99%;
    margin-right: -120px;
    padding-right: 120px;
    vertical-align: top;
}

.m-accountinfo .module .module-item {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #e8e8e8;
}

.m-accountinfo .module:last-of-type {
    border-bottom: none;
}

.m-accountinfo .module .module-item:last-child {
    border-bottom: none;
}

.m-accountinfo .module .module-item .item-label {
    display: inline-block;
    width: 17%;
    vertical-align: top;
    font-size: 14px;
}

.m-accountinfo .module .module-item .item-content {
    display: inline-block;
    width: 82%;
    font-size: 14px;
    color: #666;
}

.pgc-blacklist {
    padding-bottom: 60px;
    box-shadow: 0 1px 12px 0 rgba(0,0,0,.05);
}

.pgc-blacklist .blacklist {
    padding: 20px 32px 0;
    overflow: hidden;
}

.pgc-blacklist .blacklist .x-empty-text {
    margin-top: 20%;
}

.x-empty-text {
    text-align: center;
    color: #666;
    font-size: 14px;
    line-height: 200px;
}